<h2>Últimas receitas</h2>
<section>
  <% @recipes.each do |recipe| %>
    <p>
      <%= link_to recipe.name_recipe, recipe %><br>
      <%= recipe.foodpreference.name %><br>
      <%= recipe.typefood.name %><br>
      <%= recipe.kitchen.name %><br>
      <%= recipe.difficulty %>
    </p>
  <% end %>
</section>
