<h2>Cadastro de receitas</h2>
<%= simple_form_for @recipe do |f| %>
  <%= f.input :name_recipe, label: 'Nome da receita:',
  error: 'Esse campo é obrigatório' %>
  <%= f.association :kitchen, label: 'Cozinha:',
  error: 'Esse campo é obrigatório' %>
  <%= f.association :typefood, label: 'Tipo de comida:',label_method: :name,
                      value_method: :id, error: 'Esse campo é obrigatório' %>
  <%= f.association :foodpreference, label: 'Preferência de comida:',
                error: 'Esse campo é obrigatório' %>
  <%= f.input :amount_people, label: 'Quantas pessoas serve:' %>
  <%= f.input :preparation_time, label: 'Tempo de preparo (Minutos):' %>
  <%= f.input :difficulty, label: 'Dificuldade:', as: :radio_buttons,
                collection: ['Fácil', 'Médio', 'Difícil'] %>
  <%= f.input :ingredients, as: :text, label: 'Ingredientes:',
                error: 'Esse campo é obrigatório' %>
  <%= f.input :preparation, as: :text, label: 'Passo a passo:',
                error: 'Esse campo é obrigatório' %>
  <%= f.input :image, label: 'Selecione uma foto:', as: :file %>
  <%= f.submit 'Salvar' %>
<% end %>
