<h2><%= @recipe.name_recipe %></h2>
<section>
  <dl>
    <dt>Cozinha:</dt>
    <dd><%= @recipe.kitchen.name %></dd>
    <dt>Tipo:</dt>
    <dd><%= @recipe.typefood.name %></dd>
    <dt>Preferência:</dt>
    <dd><%= @recipe.food_preference %></dd>
    <dt>Serve:</dt>
    <dd><%= @recipe.amount_people %></dd>
    <dt>Tempo de preparo:</dt>
    <dd><%= @recipe.preparation_time %></dd>
    <dt>Dificuldade:</dt>
    <dd><%= @recipe.difficulty %></dd>
  </dl>
</section>
<section>
  <%= image_tag @recipe.image.url(:medium) %>
</section>
<section>
  <dl>
    <dt>Ingredientes:</dt>
    <dd><%= @recipe.ingredients %></dd>
  </dl>
</section>
<section>
  <dl>
    <dt>Passo a passo</dt>
    <dd><%= @recipe.preparation %></dd>
  </dl>
</section>
