<h2><%= @food_preference.name %></h2>
<% @food_preference.recipes.each do |recipe| %>
  <%= recipe.name_recipe %>
  <%= recipe.food_preference.name %>
  <%= recipe.amount_people %>
  <%= recipe.preparation_time %>
  <%= recipe.difficulty %>
  <%= recipe.ingredients %>
  <%= recipe.preparation %>
<% end %>
