<!DOCTYPE html>
<html>
<head>
  <title>Social Recipes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <% if user_signed_in? %>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Minhas receitas', recipes_user_path(current_user.id) %></li>
            <li><%= link_to 'Sair', destroy_user_session_path, :method => :delete %></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Fazer Login', new_user_session_path %></li>
          </ul>
        <% end %>
    </div>
    </div>
  </nav>
  <div class='container'>
  <h1>Social Recipes</h1>
    <%= yield %>
  </div>
</body>
</html>
